{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des conversations</h1>

    <table class="table">
        {% if conversations|length >0 %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conversation in conversations %}
            <tr>
                <td><a href="{{ path('conversation_show', { 'id': conversation.id }) }}">{{ conversation.id }}</a></td>
                <td>{{ conversation.titre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('conversation_show', { 'id': conversation.id }) }}">Consulter</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% else %}
        <tr><td>Vous n'avez aucune conversation !</td></tr>
        {% endif %}
    </table>

{% endblock %}
