{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des propriétaires</h1>

    {% if proprietaires|length == 0%}
        Il n'y aucun proprietaire dans cette co-proprietée ! Penser a en creer !
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Mot de passe</th>
            </tr>
        </thead>
        <tbody>
        {% for proprietaire in proprietaires %}
            <tr>
                <td>{{ proprietaire.id }}</td>
                <td>{{ proprietaire.user.username }}</td>
                <td>{{ proprietaire.user.email }}</td>
                <td>{{ proprietaire.user.password }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
{% endblock %}
