{% extends 'base.html.twig' %}

{% block body %}
    <h1>Propriétaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proprietaire.id }}</td>
            </tr>

        </tbody>
    </table>

{% endblock %}
