{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des messages</h1>


    <ul>
        <li>
            <a href="{{ path('message_new') }}">Create a new message</a>
        </li>
    </ul>
{% endblock %}
