{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proprietaire creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-default" />
    {{ form_end(form) }}

{% endblock %}
